.carousel-inner{
    width: 100%;
}

.party .carousel-item{
    width:100%;
}

/* start of responsiveness for carousel image*/
@media (min-width: 576px) and (max-width: 768px) {
    .carousel-inner{
        width: 100%;
    }

}

@media (min-width: 375px) and (max-width: 576px) {
    .carousel-inner{
        width: 100%;
        height: 300px;
    }

}

@media (max-width: 375px) {
    .carousel-inner{
        width: 100%;
    }

}
/*end of responsiveness for carousel image*/

.party-caption.carousel-caption h3{
    color:#3D7363;
    font-size: 80px;
    margin: 170px;
    font-weight: bold;  
    background-color: #F2EDD0;
    border:15px solid #3D7363;
    text-align: center;
    opacity: 0.8;
}

/* Responsive styles for smaller screens */
@media (min-width: 576px) and (max-width: 768px) {
    .party-caption.carousel-caption h3 {
        font-size: 50px;
        margin: 100px;
        border-width: 10px;
    }

    .party.card{
        width:32rem;
        margin-left: 100px;
    }

}

@media (min-width: 375px) and (max-width: 576px) {
    .party-caption.carousel-caption h3 {
        font-size: 40px;
        margin: 50px;
        border-width: 8px;
    }

    .party.card{
        width:20rem;
        margin-left: 25px;
    }  
    
    img.card-img-top.party-top{
        border-radius: 5px;
        width: 260px;
        height:200px
    }
    
}

@media (max-width: 375px) {
    .party-caption.carousel-caption h3 {
        font-size: 30px;
        margin: 30px;
        border-width: 5px;
    }

    div.party.card{
        width:20rem;
        margin-left: 25px;
    }    

    img.card-img-top.party-top{
        border-radius: 5px;
        width: 260px;
        height:200px
    }
}
/*end of responsiveness styles for smaller screens*/

.party.card{
    color: #F2EDD0;
    background-color: #3D7363;
    border: none;
    width: 36rem;
}

.card-img-top.party-top{
    border-radius: 5px;
    width: 500px;
    height:300px
}

.party .card-title {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

p.party.card-text{
    font-size: 20px;
    justify-content: center;
    text-align: justify;
}

img{
    height:500px;
}

.btn-primary{
    background: #68A683;
    border:none;
    border-radius: 20px;
    font-size: 20px;
}

.btn-primary:hover{
    background: #F2EDD0;
    color: #68A683;
}

